<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net4_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,904},{56,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,150},{56,58}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,904},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,140},{78,78}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{106,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,126},{106,106}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,876},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,116},{126,128}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,666},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,106},{148,148}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,666},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{170,170}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,218},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{192,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{214,214}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{214,214}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,412},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{252,252}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{358,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{358,358}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,362},{260,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{260,260}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net4_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,624},{250,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,54},{250,252}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>wave_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,900}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{438,900}}</string>
                <key>sourceSize</key>
                <string>{500,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishNet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61a8a368ccca079f475f80243e590b1a$</string>
            <key>textureFileName</key>
            <string>fishNet.png</string>
        </dict>
    </dict>
</plist>
