<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catch_num_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{42,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,62}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>catch_num_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,62},{32,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{32,62}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>catch_num_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,224},{44,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>catch_num_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>catch_num_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{44,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>catch_num_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,208},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>catch_num_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,160},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>catch_num_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>catch_num_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,96},{44,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>catch_num_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,62}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>coin_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,126},{82,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,38},{82,14}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,84},{82,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{82,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,130},{82,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{82,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,62},{82,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,86},{82,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,168},{82,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{82,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,126},{82,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,38},{82,14}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,84},{84,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{84,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{82,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,146},{82,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,170},{84,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{84,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gun_fire_up_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{126,58}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{126,58}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>gun_fire_up_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,92}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{140,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>gun_fire_up_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{140,80}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lkpy_score.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2c3d39d6ddf127ad7dafcd745e01330$</string>
            <key>textureFileName</key>
            <string>lkpy_score.png</string>
        </dict>
    </dict>
</plist>
