<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,562}}</string>
                <key>sourceSize</key>
                <string>{1000,562}</string>
            </dict>
            <key>im_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{565,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,46}}</string>
                <key>sourceSize</key>
                <string>{565,46}</string>
            </dict>
            <key>im_loading_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{554,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,37}}</string>
                <key>sourceSize</key>
                <string>{554,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lkpy_logo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b28d55dd93f21a7df36908b3e1a7b2a$</string>
            <key>textureFileName</key>
            <string>lkpy_logo.png</string>
        </dict>
    </dict>
</plist>
