<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,588},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,522},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,522},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,484},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,418},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,418},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,895},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,758},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,621},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,484},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,895},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,758},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,621},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,484},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,380},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,314},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,314},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,314},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,314},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,791},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,654},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,517},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,380},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,243},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,210},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,210},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,210},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,210},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,106},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,106},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,106},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,106},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,106},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,106},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,791},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,654},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,517},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,380},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,243},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,106},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>92.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c7fb5a11c727c5173d2d4993f462893$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
