<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,95},{91,55}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,125},{91,55}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{93,57}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,124},{93,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{93,57}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,125},{93,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{93,57}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,124},{93,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{91,57}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,124},{91,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,188},{91,57}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,123},{91,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,95},{91,57}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,122},{91,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{89,57}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,122},{89,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,188},{89,57}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,122},{89,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{91,57}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,123},{91,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,95},{91,57}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,124},{91,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{91,57}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,124},{91,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,57}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,125},{93,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,190},{91,57}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,124},{91,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,97},{91,57}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,124},{91,57}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,95},{91,55}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,125},{91,55}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{89,55}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,124},{89,55}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,93},{89,55}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,124},{89,55}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zdn_txt.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f1769f5a7149eecabe0ff8d32b45d1f$</string>
            <key>textureFileName</key>
            <string>zdn_txt.png</string>
        </dict>
    </dict>
</plist>
