<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,164},{161,83}}</string>
                <key>offset</key>
                <string>{38,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,98},{161,83}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,83},{163,79}}</string>
                <key>offset</key>
                <string>{39,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,99},{163,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{163,79}}</string>
                <key>offset</key>
                <string>{38,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,99},{163,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,249},{159,79}}</string>
                <key>offset</key>
                <string>{37,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,99},{159,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{155,79}}</string>
                <key>offset</key>
                <string>{34,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,99},{155,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{147,79}}</string>
                <key>offset</key>
                <string>{31,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,99},{147,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,684},{141,79}}</string>
                <key>offset</key>
                <string>{28,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,99},{141,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,827},{137,79}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,99},{137,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,684},{133,79}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,99},{133,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,819},{127,79}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,99},{127,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,683},{123,79}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,99},{123,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,330},{123,79}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,99},{123,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,457},{123,79}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,99},{123,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,457},{125,79}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,99},{125,79}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,330},{125,87}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,91},{125,87}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,455},{119,93}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,85},{119,93}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,584},{113,97}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,81},{113,97}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,330},{105,97}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,81},{105,97}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,582},{99,93}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,85},{99,93}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{175,175}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{175,175}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{283,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{283,281}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{283,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{283,281}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{283,281}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zdn_dh.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a3aef601ba00bf4ce75d62150772977$</string>
            <key>textureFileName</key>
            <string>zdn_dh.png</string>
        </dict>
    </dict>
</plist>
