<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{236,64}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{218,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{218,64}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{202,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{202,64}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{184,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{184,64}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,144},{166,64}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{166,64}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{160,62}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,2},{160,62}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,348},{154,56}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,5},{154,56}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,348},{146,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,5},{146,54}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{140,48}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,8},{140,48}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,144},{132,46}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,9},{132,46}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,278},{124,42}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,11},{124,42}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,144},{118,40}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,11},{118,40}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,144},{110,36}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,13},{110,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,312},{102,34}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,13},{102,34}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,108},{98,34}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,12},{98,34}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,108},{98,34}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,17},{98,34}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,320},{98,36}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,320},{98,36}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,25},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,320},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,320},{98,36}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,27},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,320},{98,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,24},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,320},{98,36}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,27},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,282},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,244},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,68},{102,38}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,28},{102,38}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,68},{102,38}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,28},{102,38}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,460},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,322},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,422},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,144},{102,38}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,28},{102,38}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,460},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,322},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,322},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,422},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,322},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,206},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,168},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,144},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,144},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,68},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,320},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,320},{98,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{98,36}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hn_dh.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02314fcca929d6a00b46c5f18d84469a$</string>
            <key>textureFileName</key>
            <string>hn_dh.png</string>
        </dict>
    </dict>
</plist>
