<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,414},{95,31}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,40},{95,31}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,414},{95,31}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,34},{95,31}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,276},{99,37}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{99,37}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,276},{99,37}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{99,37}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{101,39}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{101,39}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,220},{101,43}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{101,43}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{95,35}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{95,35}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,414},{95,33}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{95,33}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,414},{95,31}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{95,31}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,317},{95,31}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{95,31}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,414},{95,31}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{95,31}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,414},{95,31}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{95,31}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,317},{95,31}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{95,31}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,377},{99,35}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{99,35}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{99,37}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{99,37}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{101,37}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{101,37}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,198},{103,39}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{103,39}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,155},{103,41}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{103,41}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,153},{105,43}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{105,43}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,106},{107,45}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{107,45}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,106},{107,45}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{107,45}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,57},{109,47}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{109,47}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{109,49}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{109,49}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{111,53}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,53}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,53}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,53}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,53}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,53}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{109,51}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,51}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,55},{109,49}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{109,49}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,57},{109,47}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{109,47}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,106},{107,47}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{107,47}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{107,45}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{107,45}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,113},{105,43}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{105,43}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,196},{103,41}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{103,41}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,153},{103,41}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{103,41}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{101,39}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{101,39}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,155},{101,37}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{101,37}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{99,35}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{99,35}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,323},{97,35}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{97,35}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,220},{95,31}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{95,31}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,414},{95,31}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{95,31}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,414},{95,31}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{95,31}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{109,51}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,51}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hn_txt.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aca7fb1087a01481488c6f916627daa9$</string>
            <key>textureFileName</key>
            <string>hn_txt.png</string>
        </dict>
    </dict>
</plist>
