<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BACK_Center.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>CALL_ZJING.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{254,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,82}}</string>
                <key>sourceSize</key>
                <string>{254,82}</string>
            </dict>
            <key>GO_BACK_DOWN.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,882},{84,82}}</string>
                <key>offset</key>
                <string>{428,222}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{866,7},{84,82}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>GO_BACK_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,796},{84,82}}</string>
                <key>offset</key>
                <string>{424,219}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{862,10},{84,82}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>Hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,192},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>NOT_ROB_ZJ_DOWN.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,796},{178,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,70}}</string>
                <key>sourceSize</key>
                <string>{178,70}</string>
            </dict>
            <key>NOT_ROB_ZJ_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,796},{178,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,70}}</string>
                <key>sourceSize</key>
                <string>{178,70}</string>
            </dict>
            <key>ROB_ZJ_DOWN.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,544},{178,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,70}}</string>
                <key>sourceSize</key>
                <string>{178,70}</string>
            </dict>
            <key>ROB_ZJ_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,544},{178,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,70}}</string>
                <key>sourceSize</key>
                <string>{178,70}</string>
            </dict>
            <key>Ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,114},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>SPLIT_CARD_DISABLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,544},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>SPLIT_CARD_DOWN.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,544},{176,70}}</string>
                <key>offset</key>
                <string>{102,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{494,334},{176,70}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>SPLIT_CARD_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,724},{176,70}}</string>
                <key>offset</key>
                <string>{102,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,334},{176,70}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>START_DOWN.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,724},{178,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,70}}</string>
                <key>sourceSize</key>
                <string>{178,70}</string>
            </dict>
            <key>START_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,544},{178,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,70}}</string>
                <key>sourceSize</key>
                <string>{178,70}</string>
            </dict>
            <key>TimeBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>WAIT_CHIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,270},{232,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,39}}</string>
                <key>sourceSize</key>
                <string>{232,39}</string>
            </dict>
            <key>ZJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,72},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>resort_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,800},{178,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,70}}</string>
                <key>sourceSize</key>
                <string>{178,70}</string>
            </dict>
            <key>resort_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{178,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,70}}</string>
                <key>sourceSize</key>
                <string>{178,70}</string>
            </dict>
            <key>result_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,724},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>result_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,544},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nngame.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07f4e7db531569baf2f868090444802f$</string>
            <key>textureFileName</key>
            <string>nngame.png</string>
        </dict>
    </dict>
</plist>
