<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,58},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,30},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,30},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,71},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,30},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>time.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:656926cac998c3ff8ed59fc688d756fb$</string>
            <key>textureFileName</key>
            <string>time.png</string>
        </dict>
    </dict>
</plist>
