<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,912},{62,55}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,5},{62,55}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,784},{60,55}}</string>
                <key>offset</key>
                <string>{21,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,9},{60,55}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,920},{72,55}}</string>
                <key>offset</key>
                <string>{35,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,19},{72,55}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,867},{88,61}}</string>
                <key>offset</key>
                <string>{43,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,29},{88,61}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,784},{98,81}}</string>
                <key>offset</key>
                <string>{48,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,28},{98,81}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,920},{102,103}}</string>
                <key>offset</key>
                <string>{49,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,28},{102,103}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,784},{98,125}}</string>
                <key>offset</key>
                <string>{48,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,28},{98,125}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,767},{88,143}}</string>
                <key>offset</key>
                <string>{43,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,29},{88,143}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{76,159}}</string>
                <key>offset</key>
                <string>{36,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,29},{76,159}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,920},{82,171}}</string>
                <key>offset</key>
                <string>{34,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,28},{82,171}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,829},{104,175}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,28},{104,175}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{128,171}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{128,171}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,175},{148,161}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,29},{148,161}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,767},{164,151}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{164,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,155},{174,151}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{174,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,151}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{178,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{174,151}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{174,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,631},{164,151}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{164,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,863},{152,161}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{152,161}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,308},{152,171}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{152,171}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{152,175}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{152,175}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{152,175}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{152,175}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{152,175}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{152,175}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{152,175}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{152,175}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,767},{152,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{152,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,478},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,614},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,614},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,614},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,461},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,461},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,461},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,325},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,308},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,155},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,308},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,655},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,155},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,308},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,481},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,155},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{172,151}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{172,151}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wxn_dh.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:916f37cbcd4a161b6acbc2dc7608a68b$</string>
            <key>textureFileName</key>
            <string>wxn_dh.png</string>
        </dict>
    </dict>
</plist>
