<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bank_save_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1268},{188,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,85}}</string>
                <key>sourceSize</key>
                <string>{188,85}</string>
            </dict>
            <key>bank_save_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1944},{188,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,85}}</string>
                <key>sourceSize</key>
                <string>{188,85}</string>
            </dict>
            <key>bank_take_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1944},{188,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,85}}</string>
                <key>sourceSize</key>
                <string>{188,85}</string>
            </dict>
            <key>bank_take_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1944},{188,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,85}}</string>
                <key>sourceSize</key>
                <string>{188,85}</string>
            </dict>
            <key>give_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,430},{836,617}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,617}}</string>
                <key>sourceSize</key>
                <string>{836,617}</string>
            </dict>
            <key>give_confirm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1944},{188,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,85}}</string>
                <key>sourceSize</key>
                <string>{188,85}</string>
            </dict>
            <key>give_confirm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1944},{188,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,85}}</string>
                <key>sourceSize</key>
                <string>{188,85}</string>
            </dict>
            <key>hall_bank_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1410},{84,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{84,107}}</string>
                <key>sourceSize</key>
                <string>{98,117}</string>
            </dict>
            <key>hall_bank_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1410},{84,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{84,107}}</string>
                <key>sourceSize</key>
                <string>{98,117}</string>
            </dict>
            <key>hall_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1366,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1366,768}}</string>
                <key>sourceSize</key>
                <string>{1366,768}</string>
            </dict>
            <key>hall_give_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1944},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{98,117}</string>
            </dict>
            <key>hall_give_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1944},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{98,117}</string>
            </dict>
            <key>hall_notice_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,584},{930,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{930,36}}</string>
                <key>sourceSize</key>
                <string>{930,36}</string>
            </dict>
            <key>hall_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1384},{106,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{106,114}}</string>
                <key>sourceSize</key>
                <string>{106,128}</string>
            </dict>
            <key>hall_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1268},{106,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{106,114}}</string>
                <key>sourceSize</key>
                <string>{106,128}</string>
            </dict>
            <key>hall_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1968},{78,112}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,128}</string>
            </dict>
            <key>hall_recharge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1968},{78,112}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,128}</string>
            </dict>
            <key>hall_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1968},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>hall_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1968},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>modify_password_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1516},{577,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,426}}</string>
                <key>sourceSize</key>
                <string>{577,426}</string>
            </dict>
            <key>setting_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1516},{577,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,426}}</string>
                <key>sourceSize</key>
                <string>{577,426}</string>
            </dict>
            <key>setting_no_sound_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,471},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>setting_no_sound_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,430},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>setting_sound_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,548},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>setting_sound_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,512},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>shop_excharge_alert_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{667,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,426}}</string>
                <key>sourceSize</key>
                <string>{667,426}</string>
            </dict>
            <key>userinfo_confirm_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1268},{140,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,63}}</string>
                <key>sourceSize</key>
                <string>{140,63}</string>
            </dict>
            <key>userinfo_confirm_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1268},{140,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,63}}</string>
                <key>sourceSize</key>
                <string>{140,63}</string>
            </dict>
            <key>userinfo_update_nick.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1268},{190,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,84}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>userinfo_update_nick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{190,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,84}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>userinfo_update_nick_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{450,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,332}}</string>
                <key>sourceSize</key>
                <string>{450,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HallMainPage.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b2b88b0a16416e60ee86664ef62189$</string>
            <key>textureFileName</key>
            <string>HallMainPage.png</string>
        </dict>
    </dict>
</plist>
