<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m00.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{81,109}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{81,109}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>m01.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{85,111}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{85,111}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>m02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,363},{76,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{76,115}}</string>
                <key>sourceSize</key>
                <string>{108,139}</string>
            </dict>
            <key>m03.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{81,115}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{81,115}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>m04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{76,107}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{76,107}}</string>
                <key>sourceSize</key>
                <string>{108,139}</string>
            </dict>
            <key>m05.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,115},{99,109}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{99,109}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>m06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{96,117}}</string>
                <key>sourceSize</key>
                <string>{108,139}</string>
            </dict>
            <key>m07.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{79,109}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{79,109}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>w00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{79,115}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{79,115}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>w01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,240},{90,111}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{90,111}}</string>
                <key>sourceSize</key>
                <string>{108,139}</string>
            </dict>
            <key>w02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,123},{89,115}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{89,115}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>w03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,232},{77,111}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{77,111}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>w04.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,353},{77,111}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{77,111}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>w05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{79,119}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{79,119}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>w06.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,119},{87,111}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{87,111}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>w07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,119}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{94,119}}</string>
                <key>sourceSize</key>
                <string>{108,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HallFace.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b93dd959c402c7d6e00e1dd55267f1b$</string>
            <key>textureFileName</key>
            <string>HallFace.png</string>
        </dict>
    </dict>
</plist>
